# Firebase (Frontend)
VITE_FIREBASE_API_KEY=AIzaSyAY7ix8xXQJCH7HMN87fmHQdYpbRw9KmEg
VITE_FIREBASE_AUTH_DOMAIN=app-builder-77fdb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=app-builder-77fdb
VITE_FIREBASE_STORAGE_BUCKET=app-builder-77fdb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=649992132515
VITE_FIREBASE_APP_ID=1:649992132515:web:eb7b5d89cbd54efb3d6c16
VITE_FIREBASE_MEASUREMENT_ID=G-QM2WM52WJ4

# Anthropic (Backend)
ANTHROPIC_API_KEY=

# HighLevel OAuth (Frontend)
VITE_HIGHLEVEL_CLIENT_ID=
VITE_HIGHLEVEL_APP_VERSION_ID=
VITE_HIGHLEVEL_REDIRECT_URI=

# Firebase Functions (Backend)
HIGHLEVEL_CLIENT_ID=
HIGHLEVEL_CLIENT_SECRET=
HIGHLEVEL_REDIRECT_URI=


