# Dependencies
node_modules

# Build outputs
dist
build
.expo
out

# Environment
.env
.env.production
.env.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/settings.json
.idea
*.swp
*.swo

# Logs
*.logs
*.log
functions/lib

temp